@{
    ViewData["Title"] = "Home";
}

<!--PRESENTACIÓN-->
<div id="Presentacion" class="section-presentacion container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="presentacion-text">
                <p class="home-para1">Decora tu espacio</p>
                <h1>ART & DECO <br /> SIVAN</h1>
                <p class="home-para2">
                    Temporada 2023 - Lorem ipsum
                    sit amet, consecutor adpsiern
                </p>

                <button class="btn-presentacion">Ver más</button>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <img class="img-presentacion" src="~/images/Home/img-HomeSivan1.svg" />
        </div>
    </div>
</div>

<!--PRODUCTO MÁS VENDIDO-->
<div id="ProductoPopular" class="section-ProductoPopular container-fluid">
    <div class="row">
        <div class="col-12 productoPopular-Info position-relative">
            <h2>Producto más vendido 💗</h2>
            <p class="title-ProductoPopular">Sillón Mostaza</p>
            <p class="productoPopular-Detalle">Tapizado de terciopelo</p>
            <p class="productoPopular-Detalle">Medidas 170 x 220</p>
            <p class="productoPopular-Detalle">Colores disponibles</p>
            <img src="~/images/Home/img-colorDisponible.svg" />
            <br />
            <button class="btn-presentacion">Comprar</button>

            <img class="img-Producto" src="~/images/Home/img-ProductoPopular.png" />
        </div>
    </div>
</div>