<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sivan</title>

    <!--BOOSTRAP-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--SPLIDE CSS-->
    <link href="~/lib/splide-4.1.3/splide-4.1.3/dist/css/splide.min.css" rel="stylesheet" />

    <!--MI CSS-->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm p-0 ">
            <div class="container-fluid p-0">
                <a class="navbar-brand p-0" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="home-imgLogo" src="~/images/Home/logoSivan.svg" />
                </a>
                <!--CATEGORIAS NAVBAR-->
                <div class="nav-group">
                    <ul class="navbar-nav ">
                        <li class="nav-item nav-animacionHover">
                            <a class="nav-link  " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categoria
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link nav-animacionHover " asp-area="" asp-controller="Home" asp-action="Privacy">Contacto</a>
                        </li>
                    </ul>

                </div>


                <!--ICONOS NAVBAR -->
                <ul class="nav-iconos">
                    <li>
                        <a class="nav-link">
                            <img src="~/images/Home/search (1).svg" />
                        </a>
                    </li>
                    <li>
                        <a class="nav-link">
                            <img src="~/images/Home/shopping-cart (1).svg" />
                        </a>
                    </li>
                    <li>
                        <a class="nav-link">
                            <img src="~/images/Home/user.svg" />
                        </a>

                    </li>
                </ul>
            </div>


        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!--JS BOOSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

    <!--SPLIDE JS-->
    <script src="~/lib/splide-4.1.3/splide-4.1.3/dist/js/splide.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
