@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;1,100&display=swap');
:root {
    --main-bg-color: #F2F7F5;
    --green-header: #00473E;
    --green-hover: #002f29;
}
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Josefin Sans', sans-serif;
}

a {
    color: var(--green-header);
}

    a:hover {
        color:var(--green-hover);
    }



@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1350px) {
    .nav-item {
        
        font-size: 20px !important;
        color: var(--green-header);
    }

    .nav-iconos {
        list-style: none;
        display: flex;
        color: var(--green-header);
        padding-left:5rem;
        cursor: pointer;
    }


}

/*HOME*/
.navbar {
    position: fixed;
    z-index: 100;
}

.navbar-nav {
    /*padding-left:24rem;*/

}
.nav-item {
    padding: 0rem 2.3rem;
    font-size: 24px;
    color: var(--green-header);
}
.home-imgLogo {
    width: 330px;
}

.nav-iconos {
    list-style: none;
    display: flex;
    color:var(--green-header) ;
    /*padding-left:15rem;*/
    cursor:pointer;
}

.nav-animacionHover {
    transition: .5s ease;
}

    .nav-animacionHover:hover {
        font-size: 25px;
        transition: .5s ease;
    }