@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;1,100&display=swap');
:root {
    --main-bg-color: #F2F7F5;
    --green-header: #00473E;
    --green-hover: #002f29;
    --grayParagraph: #686868;
    --yellowButton: #00473E;
    --pink-Paragraph: #FA5246;
    --pink-Footer: rgba(255, 168, 186, 0.85);
}
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    scroll-behavior:smooth;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Josefin Sans', sans-serif;
}

a {
    color: var(--green-header);
}

    a:hover {
        color:var(--green-hover);
    }



@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*HOME*/
.navbar {
    position: fixed;
    z-index: 100;
}

.home-imgLogo {
    width: 330px;
}

.nav-group {
    margin-left: 20rem;
    display: flex;
}

.nav-item {
    padding: 0rem 2.3rem;
    font-size: 24px;
    color: var(--green-header);
}

/*ICONOS NAVBAR*/
.nav-iconos {
    list-style: none;
    display: flex;
    color: var(--green-header);
    margin-left: 18rem;
    cursor: pointer;
}

.nav-animacionHover {
    transition: .5s ease;
}

    .nav-animacionHover:hover {
        font-size: 25px;
        transition: .5s ease;
    }

/*SECTION PRESENTACION*/
#Presentacion {
    margin-bottom: 15rem;
}
.section-presentacion {
    padding-top: 17rem;
}

.presentacion-text {
    margin-top:5rem;
   
}
.home-para1 {
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    letter-spacing: 0.09em;
    color: rgba(0, 0, 0, 0.67);
}

#Presentacion h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 68px;
    text-align: left;
    letter-spacing: 0.09em;
}

.home-para2 {
    font-weight: 400;
    font-size: 23px;
    line-height: 23px;
    letter-spacing: 0.09em;
    color: rgba(0, 0, 0, 0.90);
}

.btn-presentacion {
    background: rgba(250, 174, 43, 0.73);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--yellowButton);
    border: none;
    width: 189px;
    height: 46px;
    margin-top: 1rem;
}

.img-presentacion {
    position: absolute;
    width: 479px;
    margin-left: 4rem;
}

/*SECTION PRODUCTO POPULAR*/
.section-ProductoPopular {
    padding-bottom: 15rem;
    border-top: 1px solid rgba(187, 187, 187, 0.20); 
    border-bottom: 1px solid rgba(187, 187, 187, 0.20);
}

.productoPopular-Info {
    padding-left: 18rem;
    padding-top: 8rem;
    padding-right: 0;
}

#ProductoPopular h2 {
    font-weight: 400;
    font-size: 26px;
    color: rgba(0, 0, 0, 0.67)
}

.title-ProductoPopular {
    font-weight: 400;
    font-size: 68px;
    line-height: 68px;
    text-align: left;
    letter-spacing: 0.09em;
    padding:1rem 0 0 0;
}

.productoPopular-Detalle {
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.09em;
    color: var(--grayParagraph);
}

.img-container {
    padding-right: 5rem;
   
}
.img-Producto {
    width: 900px;
    position: absolute;
    top: 50%;
    left: 40%;
}

/*NUEVA TEMPORADA*/
.section-NuevaTemporada {
    padding-top: 8rem;
    padding-bottom: 8rem;
    
}

.nuevaTemporada-title {
    color:var(--green-header);
    font-size:50px;
    text-align:center;
    padding-bottom:4rem;
}

.splide {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left:4rem;
}

/*INSTAGRAM*/
.section-Instagram {
    margin-top: 6rem;
    padding-left: 10rem;
    margin-bottom: 25rem;
}
.img-Instagram {
    padding-bottom: 2rem;
}
.inspirate-title {
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.09em;
    padding-bottom: 1rem;
}
.img-Ig-1 {
    width: 236px;
    position: absolute;
    top: -2%;
    left: 25%;
}
.img-Ig-2 {
    width: 236px;
    position: absolute;
    top: 30%;
    left: 45%;
}
.img-Ig-3 {
    width: 236px;
    position: absolute;
    top: 70%;
    left: 65%;
}

/*NOSOTROS*/
.section-Nosotros {
    /*padding:0 5rem 0 5rem;*/
}


.Nosotros-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.09em;
    color: var(--pink-Paragraph);
    text-align: center !important;
    padding-bottom: 3rem;
}


.Nosotros-info {
    color: var(--green-header);
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.09em;
}

.Nosotros-infoExtra {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.09em;
    color: rgba(71, 93, 91, 0.67);
}

/*FOOTER*/
.section-Footer {
    background-color:var(--pink-Footer);
    height:15rem;
}
/*MEDIA*/
/*CUANDO EL ANCHO MÁXIMO DE LA PAG SEA 1350PX - TAMAÑO NOTEBOOK-TABLET GRANDE*/
@media (max-width: 1440px) {
    /*NAVBAR*/
    .nav-group {
        margin-left: 8rem !important;
        display: flex;
    }

    .nav-item {
        font-size: 20px !important;
        padding: 0rem 1rem !important;
    }

    .nav-iconos {
        margin-left: 4rem !important;
    }

    .home-imgLogo {
        width: 300px;
    }

    /*HOME*/
    .section-presentacion {
        padding-top: 13rem;
    }

    .img-presentacion {
        position: absolute;
        width: 400px;
        margin-left: 4rem;
    }

    .presentacion-text {
        padding-left: 5px;
    }

    /*PRODUCTO POPULAR*/
    .productoPopular-Info {
        padding-left: 8rem;
        padding-right:0;
    }

    .img-Producto {
        width: 700px;
    }

    .title-ProductoPopular {
        font-size: 55px;
    }

    .productoPopular-Detalle {
        font-size: 20px;
    }
}

/*CUANDO EL ANCHO MÁXIMO DE LA PAG SEA 960PX - TAMAÑO TABLET PEQUEÑA- TELEFONO GRANDE*/
/*HACER UN SIDE BAR QUE INTEGRE TODO EL NAVBAR Y AJUSTAR EL TAMAÑO DEL LOGO*/
@media (max-width: 960px) {
   /* .nav-group {
        margin-left: 4rem !important;
        display: flex;
    }

    .nav-item {
        font-size: 20px !important;
        padding: 0rem 1rem !important;
    }

    .nav-iconos {
        margin-left: 8rem !important;
    }*/
}